<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
	colors="true"
	defaultTestSuite="unit"
	stopOnFailure="false"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	displayDetailsOnPhpunitDeprecations="true"
	testdox="true"
	testdoxSummary="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/unit</directory>
		</testsuite>
		<testsuite name="parity">
			<directory suffix="Test.php">tests/parity</directory>
		</testsuite>
	</testsuites>
</phpunit>